<span class="value">@Value</span>
<span class="title">@Title</span>

@code {
    [Parameter]
    public string Value { get; set; } = "";

    [Parameter]
    public string Title { get; set; } = "";
}
