@page "/"
@using Microsoft.Extensions.Options
@inject IOptions<ModelSettings> options

<PageTitle>Home</PageTitle>

<h1>Taxi Fare Estimator</h1>

<p>
    Using model to make single prediction -- Comparing actual Fare_amount with predicted Fare_amount from sample data...
</p>

@if (isModelCreated)
{
    <TelerikForm Model="sampleData" OnValidSubmit="SubmitForm">
        <FormValidation>
            <DataAnnotationsValidator />
        </FormValidation>
    </TelerikForm>

    <p>Taxi Fare Amount: @predictionResult?.Score</p>
} else
{
    <p>The model requires <a href="/retrain">training</a> before predictions can be made.</p>
}

@code {
    bool isModelCreated;

    protected override void OnInitialized()
    {
        isModelCreated = new MLModel(options).IsModelCreated;
    }

    MLModel.TripModelOutput? predictionResult;

    // Create single instance of sample data from first line of dataset for model input
    MLModel.TripModelInput sampleData = new()
        {
            VendorId = @"CMT",
            RateCode = 1F,
            PassengerCount = 1F,
            TripDistance = 1.5F,
            PaymentType = @"CRD",
        };

    void SubmitForm()
    {
        predictionResult = new MLModel(options).Predict(sampleData);
    }

}