@using Telerik.Documents.Common
@using Telerik.Documents.SpreadsheetStreaming
@using Telerik.Windows.Documents.Spreadsheet.FormatProviders.OpenXml.Xlsx
@using Telerik.Windows.Documents.Spreadsheet.FormatProviders.TextBased.Csv
@using Telerik.Windows.Documents.Spreadsheet.Model

<p>@message</p>
<TelerikLoaderContainer Visible="@(wb is null)" />
<TelerikSpreadsheet Data="xls" />

@code {

    [Parameter, EditorRequired]
    public string? FilePath { get; set; }

    Workbook? wb;
    byte[]? xls;
    string message = "";

    protected override async Task OnInitializedAsync()
    {
        wb = await GetWorkbookFromCsv();
        wb.Worksheets[0].Rows.Remove(1000, wb.Worksheets[0].Rows.Count - 1000);
        ConvertWorkbookToXls(wb);
        message = "";
    }

    void ConvertWorkbookToXls(Workbook wb)
    {
        using (MemoryStream xlsxStream = new MemoryStream())
        {
            new XlsxFormatProvider().Export(wb, xlsxStream);
            xls = xlsxStream.ToArray();
        };
    }

    async Task<Workbook> GetWorkbookFromCsv()
    {
        if (FilePath is null) throw new InvalidOperationException("FilePath parameter must be set.");

        message = "Loading a large dataset this may take a moment...";
        byte[] data = await System.IO.File.ReadAllBytesAsync(FilePath);

        return new CsvFormatProvider().Import(new MemoryStream(data));
    }
}