@page "/view-evaluation-data"
@using Microsoft.Extensions.Options
@inject IOptions<ModelSettings> options

<h3>Testing Data Explorer</h3>

<SpreadsheetView FilePath="@settings.GetPublicPath(settings.EvaluationFileName)" />

@code {
    private ModelSettings settings => options.Value;

}